# <font color='blue'>Data Science Academy Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 6</font>

****** Este Jupyter Notebook foi atualizado para a versão 3.6.1. da Linguagem Python em 13/06/2017 ******

# Analisando Dados do Uber

Dataset: https://github.com/fivethirtyeight/uber-tlc-foil-response

In [1]:
from pandas import read_csv

In [2]:
# Versão do Apache Spark
sc.version

'2.1.1'

In [3]:
# Criando um objeto Pandas
uberFile = read_csv("uber.csv")

In [4]:
type(uberFile)

pandas.core.frame.DataFrame

In [5]:
# Visualizando as primeiras linhas
uberFile.head(10)

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537
5                  B02598  1/1/2015              870   6903
6                  B02598  1/2/2015              785   4768
7                  B02617  1/2/2015             1137   7065
8                  B02512  1/2/2015              175    875
9                  B02682  1/2/2015              890   5506

In [6]:
# Tranformando o dataframe (Pandas) em um Dataframe (Spark)
uberDF = sqlContext.createDataFrame(uberFile)

In [7]:
type(uberDF)

pyspark.sql.dataframe.DataFrame

In [8]:
# Criando o RDD a partir dr arquivo csv
uberRDD = sc.textFile("uber.csv")

In [9]:
type(uberRDD)

pyspark.rdd.RDD

In [10]:
uberRDD.count()

355

In [11]:
uberRDD.first()

'dispatching_base_number,date,active_vehicles,trips'

In [12]:
# Dividindo o arquivo em colunas, separadas pelo caracter ",""
uberLinhas = uberRDD.map(lambda line: line.split(","))

In [13]:
type(uberLinhas)

pyspark.rdd.PipelinedRDD

In [14]:
uberLinhas.map(lambda linha: linha[0]).distinct().count()

7

In [15]:
uberLinhas.map(lambda linha: linha[0]).distinct().collect()

['dispatching_base_number',
 'B02765',
 'B02682',
 'B02598',
 'B02512',
 'B02764',
 'B02617']

In [16]:
uberLinhas.filter(lambda linha: "B02617" in linha).count()

59

In [17]:
b02617_RDD = uberLinhas.filter(lambda linha: "B02617" in linha)

In [18]:
b02617_RDD.filter(lambda linha: int(linha[3]) > 15000).count()

6

In [19]:
b02617_RDD.filter(lambda linha: int(linha[3]) > 15000).collect()

[['B02617', '1/31/2015', '1394', '15756'],
 ['B02617', '2/6/2015', '1526', '15417'],
 ['B02617', '2/13/2015', '1590', '16996'],
 ['B02617', '2/14/2015', '1486', '16999'],
 ['B02617', '2/20/2015', '1574', '16856'],
 ['B02617', '2/21/2015', '1443', '16098']]

In [20]:
uberRDD2 = sc.textFile("uber.csv").filter(lambda line: "base" not in line).map(lambda line:line.split(","))

In [21]:
uberRDD2.map(lambda kp: (kp[0], int(kp[3])) ).reduceByKey(lambda k,v: k + v).collect()

[('B02765', 193670),
 ('B02682', 662509),
 ('B02598', 540791),
 ('B02512', 93786),
 ('B02764', 1914449),
 ('B02617', 725025)]

In [22]:
uberRDD2.map(lambda kp: (kp[0], int(kp[3])) ).reduceByKey(lambda k,v: k + v).takeOrdered(10, key = lambda x: -x[1])

[('B02764', 1914449),
 ('B02617', 725025),
 ('B02682', 662509),
 ('B02598', 540791),
 ('B02765', 193670),
 ('B02512', 93786)]

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>